#{extends 'main.html' /}
#{set title:'Lista de Cursos Cadastrados' /}

<meta charset="utf-8">
<h2>Lista de Cursos</h2>


<div class="card-body">
	<div class="table-responsive">
		<table class="table table-bordered" id="Cursos.listar" width="100%"
			cellspacing="0">
			
			<thead>
				<tr>
					<th>Nome</th>
					<th>Opções</th>
				</tr>
			</thead>
			#{list items:cursos, as: 'curso'}
			<tbody>
				<tr>
					<td>${curso.nome}</td>
					<td><a class="btn btn-warning"
						href="@{Cursos.editar(curso.id)}">Editar</a>&emsp;<a
						class="btn btn-danger" href="@{Cursos.remover(curso.id)}">Remover</a>&emsp;
						<a class="btn btn-warning" href="@{Cursos.detalhes(curso.id)}">Detalhes</a></td>

				</tr>
				#{/list}
			</tbody>
		
		</table>
	</div>
</div>